<!-- addform.tmpl -->
<tmpl_var js-head>
<h1>Editing Zone: <tmpl_var zone></h1>
<tmpl_var form-start>
<fieldset>
<legend>Add New Record</legend>
<tmpl_var field-zone>
<tmpl_var field-class>
<table>
<tr>
    <th>Record Key</th>
    <th>Zone</th>
    <th>TTL</th>
    <th>Class</th>
    <th>Type</th>
    <th>Content</th>
    <th></th>
</tr>
<tr>
    <td><tmpl_var field-name></td>
    <td><tmpl_var zone></td>
    <td><tmpl_var field-ttl></td>
    <td><tmpl_var class></td>
    <td><tmpl_var field-type></td>
    <td><tmpl_var field-content></td>
    <td><tmpl_var form-submit><tmpl_var form-reset></td>
</tr>
</table>
</fieldset>
<tmpl_var form-end>
