<!-- delform.tmpl -->
<hr>
<tmpl_var form-start>
<tmpl_var field-zone> <tmpl_var field-class>
<table border>
<tr>
    <th>Delete?</th>
    <th>Record</th>
</tr>
<tmpl_loop loop-rr>
    <tr><td align="center"><input name="rr" type="checkbox" value="<tmpl_var value>"></td><td><tt><tmpl_var label></tt></td></tr>
</tmpl_loop>
</table>
<p>
<tmpl_var form-submit><tmpl_var form-reset>
<tmpl_var form-end>
</body>
</html>
